@media screen and (max-width: 500px){

    .main-text__h1{
        font-size: 2rem;
    }
    .phone a, .phone p{
        font-size: 1rem;
    }

    .logo3{
      display: none;
    }
    .main-text__button>button{
      width: 100%;
    }
    .main-text__button{
      width: 100%;
    }
    .logo{
      font-size: 2.5vw;
    }
    .main-text__p::after{
        right: -10%;
        bottom: -20%;
        width: 20px;
        height: 25px;
    }
}













@media screen and (max-width: 1140px){
    .main-img{
        display:none;
    }
    .conteiner{
        padding:  16px;
    }
}
