@media screen and (max-width: 500px){

    .main-text__h1{
        font-size: 2rem;
    }
    .phone a, .phone p{
        font-size: 1.2rem;
    }

    logo3{
      display: none;
    }
}













@media screen and (max-width: 1140px){
    .main-img{
        display:none;
    }
    .conteiner{
        padding:  16px;
    }
}
